<div class="main container-fluid">
    <div class="info-container">
        <div class="hero-text">
            <h1>Hello, i'm Chelsea</h1>
            <h2>
                Certified Full Stack Developer | Problem solver | Innovator
                <br> Passionate about building applications and crafting
                solutions aimed at business growth.
            </h2>
            <div class="line"></div>
        </div>
        <div class="hero-img">
            <img src="#" alt="">
        </div>
    </div>
    <div class="social-bar">
        <a href="#">Github</a>
        <a href="#">Linkedin</a>
        <a href="#">Dev.to</a>
    </div>
</div>