<div class="main container-fluid">
    <div class="info-container">
        <div class="hero-text">
            <h1>Hello, i'm Chelsea</h1>
            <h2>
                Certified Full Stack Developer | Problem Solver | Innovator
                <br> Passionate about building applications and crafting
                solutions aimed at business growth.
            </h2>
            <div class="social-bar" style="border: 1px solid green;">
                <a href="#">
                    <fa-icon [icon]="faSquareGithub"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="faDev"></fa-icon>
                </a>
                <button class="btn btn-outline-primary" style="height: 50%;">work with me</button>
            </div>

            <div class="line"></div>
        </div>
        <div class="hero-img">
            <img src="#" alt="">
        </div>
    </div>
</div>