<div class="container flex-row">
    <div class="card relative">
        <div class="card-title">project 1</div>
        <div class="card-body">
            <img src="#" alt="">
        </div>
    </div>
    <div class="card relative">
        <div class="card-title">project 2</div>
        <div class="card-body">
            <img src="#" alt="">

        </div>
    </div>
    <div class="card relative">
        <div class="card-title">project 3</div>
        <div class="card-body">
            <img src="#" alt="">

        </div>
    </div>
    <div class="card relative">
        <div class="card-title">project 4</div>
        <div class="card-body">
            <img src="#" alt="">
        </div>
    </div>
</div>