<div class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="card">
                <div class="card-title">Project 1</div>
                <div class="card-body">
                    <div class="card-image">
                        <img src="#" alt="">
                        <div class="overlay">
                            <div class="technologies">
                                <div class="skill">ReactJS</div>
                                <div class="skill">Python</div>
                            </div>
                        </div>
                    </div>
                    <div class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo
                        sunt, dolores esse vel aliquid. Sequi minus at ipsum praesentium? Magnam totam odio omnis
                        doloribus in modi dolor facilis veritatis?</div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Project 1</div>
                <div class="card-body">
                    <div class="card-image">
                        <img src="#" alt="">
                        <div class="overlay">
                            <div class="technologies">
                                <div class="skill">ReactJS</div>
                                <div class="skill">Python</div>
                            </div>
                        </div>
                    </div>
                    <div class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo
                        sunt, dolores esse vel aliquid. Sequi minus at ipsum praesentium? Magnam totam odio omnis
                        doloribus in modi dolor facilis veritatis?</div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-title">Project 1</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="#" alt="">
                            <div class="overlay">
                                <div class="technologies">
                                    <div class="skill">ReactJS</div>
                                    <div class="skill">Python</div>
                                    <div class="skill">postgresql</div>
                                    <div class="skill">aws</div>
                                    <div class="skill">ai</div>
                                </div>
                            </div>
                        </div>
                        <div class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo
                            sunt, dolores esse vel aliquid. Sequi minus at ipsum praesentium? Magnam totam odio omnis
                            doloribus in modi dolor facilis veritatis?</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Project 1</div>
                    <div class="card-body">
                        <div class="card-image">
                            <img src="#" alt="">
                            <div class="overlay">
                                <div class="technologies">
                                    <div class="skill">ReactJS</div>
                                    <div class="skill">Python</div>
                                </div>
                            </div>
                        </div>
                        <div class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo
                            sunt, dolores esse vel aliquid. Sequi minus at ipsum praesentium? Magnam totam odio omnis
                            doloribus in modi dolor facilis veritatis?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>