<div class="container p-0 m-0">
    <div class="work">
        <div class="card">
            <h3>Booz Allen Hamilton</h3>
            <h4>Date: 6/2023 - 12/2023</h4>
            <ul>
                <li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis officiis alias facere,
                        voluptatem dicta deleniti, recusandae dolores quos molestiae sapiente in reprehenderit ea odit,
                        quo tempora consectetur autem. Qui, sit.</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima harum, fugit doloremque in atque
                        aliquam cupiditate eaque doloribus, numquam corporis officia id, enim quia velit delectus labore
                        tempora nostrum saepe.</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium in nemo voluptate, veritatis
                        nesciunt, vel quod odio delectus adipisci natus laborum, amet ipsam quaerat animi quia
                        perferendis commodi ullam nobis!</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="education">
        <div class="card">
            <h3>Build Carolina</h3>
            <h4>Date: 6/2023 - 12/2023</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi at illo, facilis laborum sunt sit
                explicabo, velit, voluptas adipisci consectetur numquam modi exercitationem. Sunt in, rerum non
                provident vel ipsum?
            </p>
            <h3>Carolina Code School</h3>
            <h4>Date: 1/2023 - 3/2023</h4>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum explicabo consequuntur labore nobis
                facilis ullam sint corrupti iusto magnam blanditiis nemo reiciendis, velit aut qui vitae maiores odit ut
                veniam!
            </p>
        </div>
    </div>

</div>