<div class="container-fluid p-0 m-0">
    <div class="skills-text" style="border: 1px solid red;">
        <p>
            Throughout my experience learning full stack development through my two certification courses, as well as my
            internship, a wide range of experiences with multiple languages, frameworks, and technologies.
        </p>
    </div>
    <div class="skills-icons" style="border: 1px solid red;">
        <div class="skills-item">
            <div class="card">
                <div class="card-title">
                    <p>
                        Languages
                    </p>
                    <div class="line"></div>
                </div>
                <div class="card-row">
                    <img src="/assets/html-5-logo-svgrepo-com.svg" alt="HTML5 icon">
                    <img src="/assets/css-3-svgrepo-com.svg" alt="css3 icon">
                    <img src="/assets/javascript-svgrepo-com.svg" alt="javaScript icon">
                    <img src="/assets/python-svgrepo-com.svg" alt="python icon">

                </div>

            </div>

            <div class="card">
                <div class="card-title">
                    <p>Front End Frameworks</p>
                    <div class="line"></div>
                </div>
                <div class="card-row">
                    <img src="/assets/angular.svg" alt="Angular icon">
                    <img src="/assets/React-icon.svg.png" alt="React icon">
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <p>Back End Frameworks</p>
                    <div class="line"></div>
                </div>
                <div class="card-row">
                    <img src="/assets/java-svgrepo-com.svg" alt="Java icon">
                    <img src="/assets/spring-svgrepo-com.svg" alt="Spring Boot icon">
                    <img src="/assets/django-svgrepo-com.svg" alt="django icon">
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <p>DevOps and Deployment Technologies</p>
                    <div class="line"></div>
                </div>
                <div class="card-row">
                    <img src="../../assets/docker-svgrepo-com.svg" alt="docker icon">
                    <img src="../../assets/heroku.svg" alt="heroku icon">
                    <img src="../../assets/postgresql-svgrepo-com.svg" alt="postgreSQL icon">
                    <img src="../../assets/postman-icon-svgrepo-com.svg" alt="postman icon">
                </div>
            </div>
        </div>
    </div>
</div>