<div class="container container-lg flex flex-row">
    <div class="skills-text" style="border: 1px solid red;">
        <p>
            Throughout my experience learning full stack development through my internship, as well as my two
            certification courses, I've picked up a few skills!
        </p>
    </div>
    <div class="skills-icons" style="border: 1px solid red;">
        <!-- front end -->
        <div class="skills-item">
            <div class="card front-end flex-row">
                <div class="card-title">
                    <p>Front End</p>
                </div>
                <img src="/assets/html-5-logo-svgrepo-com.svg" alt="HTML5 icon">
                <img src="/assets/css-3-svgrepo-com.svg" alt="css3 icon">
                <img src="/assets/angular.svg" alt="angular icon">
                <img src="/assets/javascript-svgrepo-com.svg" alt="javaScript icon">
            </div>
            <!-- back end -->
            <div class="card back-end flex-row">
                <div class="card-title">
                    <p>Back End</p>
                </div>
                <img src="/assets/java-svgrepo-com.svg" alt="Java icon">
                <img src="/assets/spring-svgrepo-com.svg" alt="Spring Boot icon">
                <img src="/assets/python-svgrepo-com.svg" alt="python icon">
                <img src="/assets/django-svgrepo-com.svg" alt="django icon">
            </div>
            <!-- technologies -->
            <div class="card technologies flex-row">
                <div class="card-title">
                    <p>DevOps and Deployment Technologies</p>
                </div>
                <img src="../../assets/docker-svgrepo-com.svg" alt="docker icon">
                <img src="../../assets/heroku.svg" alt="heroku icon">
                <img src="../../assets/postgresql-svgrepo-com.svg" alt="postgreSQL icon">
                <img src="../../assets/postman-icon-svgrepo-com.svg" alt="postman icon">
            </div>
        </div>
    </div>
</div>